{
  "root": false,
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/constants", "./src/constants"],
          ["@/types", "./src/types.ts"],
          ["@/utils", "./src/utils.ts"]
        ],
        "extensions": [".ts"]
      }
    }
  },
  "env": {
    "node": true,
    "es2021": true
  },
  "overrides": [
    {
      "files": ["src/**/*.test.ts"],
      "env": {"jest": true, "node": true}
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "prettier",
    "unicorn"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}